@import './nav';
@import './container.scss';
@import './parallax';
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
button{
    padding:15px 25px;
}
.parallax{
    background-image: url("../img/pexels-eberhard-grossgasteiger-1183021.jpg");
    width: 100%;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    .tag{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgba(38, 37, 37, 0.207);
        width: 100%;
        height: 100%;
        text-align: left;
        .tagLine{
            display: flex;
            flex-wrap: wrap;
            color:whitesmoke;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 3px;
            padding: 0px;
            width: 80%;
            div{
                flex: 1;
                min-width: 500px;
                height: calc(70px + .5vw);
                h1{
                    font-size: calc(15px + 1.5vw);
                }
                h4{
                    //color: $font-color;
                    font-size: calc(10px + .5vw);
                    hr{
                        width: 50%;
                    }
                }
                a{
                color: white;
                text-decoration: none;
                font-style: bold;
                }
            }
        }
    }
}
.main-content{
    width: 80%;
    margin: 50px auto;
    .content{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        height: 350px;
        min-width: 30%;
        .name_doing{
            flex:1;
            height: calc(180px + 10vw);
            min-width: calc(250px + 6vw);
            align-items: center;
            text-align: center;
            margin: 0px 10px;
            transition: .4s;
            padding: 20px;
            font-family: 'Poppins', sans-serif;
            &:hover{
                box-shadow: 2px 5px 7px #888888;
            }
            h1{
                padding: 0px 20px;
                font-size: 25px;
            }
            i{
                font-size: 50px;
                color: black;
            }
            p{
                padding: 10px 25px;
                font-size: 18px;
            }
        }
    }
}